target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Vaadin specific ###
node_modules/
**/frontend/generated/
**/frontend/build/
pnpm-lock.yaml
package-lock.json
yarn.lock

### Other Vaadin specific ###
**/src/main/bundles/
package.json
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts

### Other ignored directives ***
*.log
