server:
  port: 8080

spring:
  application:
    name: Themis Server

  datasource:
    url: jdbc:postgresql://localhost:5432/themis
    username: themis
    password: themis
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
